*{
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    height: 70px;
    background-color: rgb(233, 222, 222)31, 222, 222)28, 225, 225);
    box-shadow: 0px 0px 12px black;
}
header button{
    width: 130px;
    padding: 10px;
    margin-top: 15px;
    border:none;
    background: none;
    font-size: 18px;
    box-shadow: 0px 0px 8px whitesmoke ;
    font-family:'Tajawal', sans-serif;
    font-weight: ;
    transition: 1s;
}
header button:hover{
    color: #07689f;
    box-shadow: 0px 0px 15px silver;

}
header img{
    width: 100px;
    float: left;
    margin-top: 3px;
    margin-left: 10px;
}
#imo1{
    width: 100%;
    height: 600px;
}